{$DOMAIN}:{$PORT} {
    proxy / localhost:80 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Port {server_port}
        header_upstream X-Forwarded-Proto {scheme}
    }
}
{$DOMAIN}:{$PORT}/media/ {
    root /opt/tlm/media/
}
{$DOMAIN}:{$PORT}/static/ {
    root /opt/tlm/pretix/src/pretix/static.dist/
}
